/*Não esquecer: */
/* Testar responsividade com tela aumentando e diminuindo, usar diferentes níveis de zool*/
/* Arrumar o gap entre os hobbies e top5, não fica pequeno quando maximizado e grande quando há wrap*/
/* arrumar bug do footer quando janela nao esta maximizada*/
/* Colocar imagens nos links*/
/* Dencentralizar Título e links do header e footer*/
/* Colocar imagem na posição correta */
/* não deixar footer fixed */
/* Arrumar o wrap do aboutme*/
/* Barra horizontal aparecendo sempre, ver responsividade*/

/***** GLOBAL *****/

@font-face {
    font-family: fontePadrao;
    src: url(louis_george_caf/Louis\ George\ Cafe\ Bold.ttf);
}

html{
    font-size: 12px;
    font-family: 'Trebuchet MS', sans-serif; /*Caso a fonte padrão nao esteja disponível*/
    font-family: fontePadrao;
}

body{
    position: absolute;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    background-color: #C4C4C4; 
    height: 5rem;   
}

main{


}

footer{
    display: flex;
    flex-direction: row;
    background-color: #C4C4C4;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

address{
    display: flex;
    flex-direction: row;
}

/* Estilização de Títulos */
h1{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

h2{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

li{
    background-color: #dfdfdf;
    padding: 1rem; /* se for colocar imagens no li, conferir se este padding atrapalha */
    border-radius: 0.5rem;
    width: 6rem;
    height: 10rem;
    text-align: center;
    box-shadow: 2px 4px 5px #888888;
    
}
li:hover{
    background-color: gray;
}
li:active{
    background-color: black;
    color: white;
}


/***** PÁGINA DE PERFIL *****/
.bodyProfile{
    max-width: 1440px;
    min-width: 400px;
}

.aboutSection{
    background-color: rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: yellow;
    flex-wrap: wrap;

    
    
}

.divImagem{
    background-color: green;
}


.imgProfile{
    border-radius: 50%;
    min-width: 200px;
    max-width: 250px;


}


.divAboutText{
    background-color: brown;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 300px;
    justify-content: center;
    align-content: center;

}


.descriptionAboutMe{
    
    margin: 0.3rem;
    line-height: 2ch;
}

#tituloHobbies{
    text-align: right;
}



.listsSection{
    background-color: purple;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem;
    
}

.parentHobbies,
.parentTop5{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: center;
    
}

/*
.parentHobbies{
    margin-left: 5em;
}
.parentTop5{
    margin-right: 5em;
}
*/


/* O Código abaixo só funciona quando todos os 5 estão alinhados. Não é responsivo*/
.parentTop5 li:nth-child(1){
    margin-left: 0px;
}

.parentHobbies li:nth-child(5){
    margin-right: 0px;
}






.mainProfile{

}



.btnContact{
    position: relative;
    right: 0px;
}