/*Melhorias futuras*/

/***** Há uma diferença de alinhamento com o Subtitulo das listas e os boxes quando ocorre o wrap */
/***** Espaçamento entre boxes pode ser melhorado. Atualmente está com justify-content: space-evenly;*/
/***** Fazer Menu Hamburguer */

/***** GLOBAL *****/

@font-face {
    font-family: fontePadrao;
    src: url(louis_george_caf/Louis\ George\ Cafe\ Bold.ttf);
}

html{
    font-size: 13px;
    font-family: 'Trebuchet MS', sans-serif; /*Caso a fonte padrão nao esteja disponível*/
    font-family: fontePadrao;
    /* font-family: cursive; */
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    background-color: #C4C4C4; 
    height: 5rem;
}

a{
    text-decoration: none;
    color: black;
}



/* Estilização de Títulos */
h1{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

h2{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}



/***** PÁGINA DE PERFIL *****/
.nomeHeader{
    width: 50%;
}

.nomeHeader h1{
    transform: translateX(10vw);
    width: fit-content;
}

.linksHeader{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-decoration: black;
}

.linksHeader div{
    width: 10%;
    max-width: 4.5rem;
    min-width: 4rem;
    transform: translateX(-10vw);
    display: flex;
    justify-content: center;
}

.bodyProfile{
    max-width: 1440px;
    min-width: 400px;
}

.aboutSection{
    background-color: rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 700px){
    .aboutSection{
        flex-wrap: wrap;
    }
}


.imgProfile{
    border-radius: 50%;
    width: 250px;
    margin: 2rem 5rem;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
}

.divAboutText{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 300px;
    justify-content: center;
    align-content: center;
    padding: 2em;
}

.descriptionAboutMe{
    margin: 0.3rem;
    line-height: 2ch;
}

@media only screen and (min-width: 1056px){
    #tituloHobbies{
        text-align: right;
    } 
}


.listsSection{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem;
}

.parentHobbies,
.parentTop5{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: center;
}

#pink{
    background-image: url("boxPink2.png");
}

#yes{
    background-image: url("boxYes.png");
}

#led{
    background-image: url("boxLed.png");
}

#king{
    background-image: url("boxKing.png");
}

#radio{
    background-image: url("boxRadiohead.png");
}

#gtr{
    background-image: url("boxGuitarra.png");
}

#series{
    background-image: url("boxSeries.png");
}

#escutar{
    background-image: url("boxEscutar.png");
}

#programar{
    background-image: url("boxProgramar.png");
}

#jogar{
    background-image: url("boxJogar.png");
}

.box{
    background-color: #dfdfdf;
    border-radius: 0.5rem;
    width: 7rem;
    height: 10rem;
    text-align: center;
    background-size: 7rem;
    box-shadow: 2px 4px 5px #888888;
    position: relative;
    color: white;
    cursor: pointer;
}

.linksHeader div h3:hover{
    text-shadow: 3px 3px 4px rgba(255,255,255,1);
    transform: scale(1.2);
}

.linksFooter a img:hover{
    animation-name: animScale;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.box:hover{
    animation-name: animEnph;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.box:active{
    box-shadow: 5px 5px 10px rgba(0,0,0,1);
}

.box p{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    text-shadow: 0.15em 0.15em 0.1em gray;
}

.box div{
    background-color: rgba(150,150,150,0.5);
    border-radius: 0 0 0.3rem 0.3rem;
    width: 1.1rem;
    height: 3rem;
    transform: translateX(0.5rem);
}

.box div p{
    position: relative;
    bottom: -1rem;
}

.parentTop5 li:nth-child(1){
    margin-left: 0px;
}

.parentHobbies li:nth-child(5){
    margin-right: 0px;
}

footer{
    background-color: #C4C4C4;
    position: relative;
    bottom: 0;
}

.linksFooter{
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 1rem;
}

.btnContact{
    border: none;
    background-color: #DFDFDF;
    font-family: fontePadrao;
    width: 12em;
    height: 2.2em;
    border-radius: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContact:hover{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    background-color: #e8e8e8;
}

.linkIncon{
    width: 2.5rem;
}

@media screen and (min-width:601px){
    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        height: 5rem;
    }

    .divAdress{
        width: 50%;
    }

    .linksFooter{
        transform: translateX(10vw);
    }

    .divButton{
        width: 50%;
        display: flex;
        justify-content: right;
    }

    .divButton a{
        transform: translateX(-10vw);

    }
}

@media screen and (max-width:600px){
    footer{
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .divAdress{
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
    }

    .divButton{
        position: absolute;
        top: 70%;
        transform: translateY(-50%);
    }
}



/* Animações */
@keyframes animScale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

@keyframes animEnph {
    0%{
        transform: scale(1);
        filter: brightness(100%);
        filter: contrast(100%);
    }
    100%{
        transform: scale(1.1);
        filter: brightness(60%);
        filter: contrast(150%);
    }
}



/* Configurações do Menu Hamburguer*/

.menuHamb{
    position: absolute;
    visibility: hidden;
    right: 4rem;
}

.imgMenuHamb{
    width: 3em;
}


@media screen and (max-width:600px){
    .linksHeader{
        visibility: hidden;
    }

    .menuHamb{
        visibility: visible;
    }
}

.pagMenuHamb{
    visibility: hidden;
    position: absolute;
    opacity: 0.5;
    right: 0;
    width: 15em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}